@import url(https://fonts.googleapis.com/css?family=Pavanam:400,700&subset=latin,latin-ext);
body {
	font-family:'Pavanam',sans-serif;
	font-size:14px;
	background-color:#000;
}
a:link:not(td a){text-decoration:none!important}
a, body, nav *, .w {color:#fff}
h1 {text-align:center;font-size:20px}
h1, h3 {margin-top:0}
h3, h3 * {color:#8da}
* .bo {font-weight:700;color:#eae}
* .n {color:#7ae}
* .c {color:#da6}
.s {padding-top:30px}
.b {color:#f88}
.circled {font-size:18px;vertical-align:middle}
@font-face {
	font-family:'Raul';
	src:url('fonts/raul.woff2') format('woff2');
	font-style:normal;
	font-display:block;
}
[class*="icon-"] {
	font-family:'Raul'!important;
	font-style:normal;
	font-weight:400;
	text-transform:none;
	line-height:1;
}
.icon-search:before {content:"\f002"}
.icon-long-arrow-up:before {content:"\f176"}
#msg, #msg2 {padding:10px 0}
#msg, nav {clear:both}
nav ul {list-style:none;margin:0;padding:0}
nav li {margin:2px;float:left;text-align:center}
nav li[id^="page"] {color:#fd0;font-weight:700}
nav li a {display:block;padding:4px 0 4px 2px;background-color:#112}
nav li a:hover, #nav2 li a:hover {color:#000;background-color:#fff}
#nav li {width:124px}
#nav2 {display:inline}
#nav2 li a {
	color:#e95;
	background-color:#000;
	padding:2px 20px;
	border:solid #e95;
	border-radius:5px 5px 0 0;
	border-width:1px 0 1px 1px;
	margin-right:-4px;
}
#nav2 li:last-child a {border-right-width:1px}
#fil i {position:absolute;color:#000;padding:4px 0 0 5px}
#fil input {padding-left:20px}
#clr {
	border:1px solid #ccc;
	border-radius:3px;
	color:#111;
	padding:2px 5px;
	cursor:pointer;
}
#clr:after {font-family:Raul;content:" \f1e2"}
table {border-collapse:separate;border-spacing:1px}
.tablesorter {
	background-color:#cdcdcd;
	font-size:12px;
	width:100%;
	text-align:left;
	border-radius:3px;
}
thead tr {cursor:pointer}
th {background-color:#444;font-size:14px;padding:4px}
th.headerSortUp:after,
th.headerSortDown:after,
th.header:after {font-family:Raul;float:right;content:"\f0dc"}
th.headerSortUp:after {content:"\f0de"}
th.headerSortDown:after {content:"\f0dd"}
td {padding:4px;background-color:#000;vertical-align:middle}
tr.even td {background-color:#222}
tr td:last-child {width:58px}
#up {
	position:fixed;
	right:1px;
	bottom:0;
	background:#333 no-repeat;
	padding:0 1px 0 5px;
	border:solid #999;
	border-width:1px 1px 0 1px;
	border-radius:5px 5px 0 0;
}
#up a[href="#toc"] {opacity:.8}
#up a[href="#toc"]:after {font-family:Raul;content:" \f106"}
#up a[href="#toc"]:hover {opacity:1}
@media only screen and (min-width:980px) {
	h1 {display:none}
	li#page,li#page3 {padding:2px 0 11px 0}
	li#page:after, li#page3:after {white-space:pre;font-family:Raul;content:"\A\f0d7"}
	li[id^="page"] {font-size:18px;height:26.5px}
	#nav {display:flex;justify-content:center}
	#nav li:nth-last-child(-n+2) a {background-color:#444}
	#nav li:nth-last-child(-n+2) a:hover {background-color:#fff}
	#navb {border-top:1px solid #ed0}
	#navb li {width:124px}
	#dbd {display:flex;justify-content:center}
	#crc {margin-left:131px}
	#crb {margin-left:191px}
	#cro {margin-left:311px}
	#cib {margin-left:575px}
}
@media screen and (max-width:980px) {
	h1 {margin-left:20px}
	nav ul {display:flex;justify-content:center}
	nav li[id^="page"] {padding:4px 0 4px 2px}
	ul.collapsed {
		display:block;
		position:absolute;
		font-size:16px;
		background-color:#222;
		border:solid #777;
		border-width: 0 1px 1px 0;
		top:0;
	}
	.collapsed li, #navb.collapsed li[id^="page"] {
		float:none;
		border-bottom:1px solid #333;
		text-align:left;
		display:inherit;
	}
	.collapsed li a {background-color:#222}
	.collapsed li a:hover {background-color:#fff}
	#nav-toggle:after {
		position:absolute;
		float:left;
		margin-top:0;
		color:#e95;
		cursor:pointer;
		font-family:Raul;
		content:"\f0c9";
		font-style:normal;
		font-size:20px;
	}
	#nav-toggle.collapsed:after {content:"\f00d";z-index:999}
	#nav:not(.collapsed), #navb li[id^="page"] {display:none}
	#nav li#page2:after {font-family:Raul;content:" \f0da";vertical-align:middle}
	#navb {margin-bottom:10px}
	#navb li {width:110px}
	#nav2 li a {border-width:1px}
	#nav.collapsed {padding-left:40px;left:0px;z-index:8}	
	#navb.collapsed {left:170px;z-index:9}
}