@font-face{font-family:Raul;src:url(fonts/raul.woff2) format("woff2");font-display:swap;}
body{font-family:Pavanam,sans-serif;font-size:14px;background-color:#000;color:#fff}
h1{font-size:20px;text-align:center;margin-top:0}
h3,h3 *{color:#8da;margin-top:0}
a,.w{color:#fff}
a:link:not(td a){text-decoration:none}
a:hover:not(nav a){text-decoration:underline;color:#fd0}
.bo,.is-root-cd-vinyl tbody td:first-child{font-weight:700;color:#eae}
.n,.is-root-cd-vinyl tbody td:nth-child(3),.tablesorter:not(.is-root-cd-vinyl) tbody td:nth-child(2){color:#7ae}
.c,.is-root-cd-vinyl tbody td:nth-child(4),.tablesorter:not(.is-root-cd-vinyl) tbody td:nth-child(3){color:#da6}
.s{padding-top:30px}
.b{color:#f88}
[class*=icon-]{font-family:Raul;font-style:normal;font-weight:400;text-transform:none;line-height:1}
.icon-search:before{content:"\f002"}	
.icon-long-arrow-up:before{content:"\f176";margin-left:4px}
#msg,#msg2{padding:10px 0;min-height:19px;}
#msg,nav{clear:both}
nav ul{list-style:none;margin:0;padding:0;}
nav li{margin:2px;text-align:center}
nav li[id^=page]{color:#fd0;font-weight:700}
nav a{display:block;padding:4px 0 4px 2px;background-color:#112}
nav a:hover, #nav2 a:hover{color:#000;background-color:#fff}
#nav li{width:124px}
#nav2 li:last-child a{border-right-width:1px}
#nav2 a{color:#e95;background-color:#000;padding:2px 20px;border:solid #e95;border-radius:5px 5px 0 0;border-width:1px 0 1px 1px;margin-right:-4px}
#fil i{position:absolute;color:#000;padding:4px 0 0 5px}
#fil input{padding-left:20px;margin-right:9px}
#clr{border:1px solid #ccc;border-radius:3px;color:#111;padding:2px 5px;cursor:pointer}
#clr:after{font-family:Raul;content:" \f1e2"}
table{border-collapse:separate;border-spacing:1px;background-color:#ccc;font-size:12px;width:100%;text-align:left;border-radius:3px;}
.artist {table-layout:fixed;}
th,td{padding:4px;vertical-align:middle}
th{background-color:#444;font-size:14px;cursor:pointer;position:relative}
th::after{font-family:Raul;content:"\f0dc";position:absolute;right:5px;top:50%;transform:translateY(-50%)}
th[aria-sort="ascending"]::after{content:"\f0de"}
th[aria-sort="descending"]::after{content:"\f0dd"}
td{background-color:#000}
tr:nth-child(odd) td{background-color:#222}
td:first-child,th:first-child,.artist td:nth-child(2),.artist th:nth-child(2){width:170px}
td:nth-child(2),th:nth-child(2),.artist td:nth-child(3),.artist th:nth-child(3){width:110px}
td:nth-child(3),th:nth-child(3).artist td:nth-child(4),.artist th:nth-child(4){width:200px}
td:nth-child(4),th:nth-child(4).artist td:nth-child(5),.artist th:nth-child(5){width:55px}
.artist td:first-child,.artist th:first-child{width:100px}
#up{position:fixed;right:1px;bottom:0;background:no-repeat #333;padding:0 1px 0 5px;border:solid #999;border-width:1px 1px 0;border-radius:5px 5px 0 0}
#up a[href="#toc"]{opacity:.8}
#up a[href="#toc"]:after{font-family:Raul;content:" \f106"}
#up a[href="#toc"]:hover{opacity:1}
.circled{display:inline-block;padding:0 .1em;border:1px solid #fff;border-radius:50%;font-size:0.85em;line-height:1.6;text-align:center;font-variant-numeric:tabular-nums}
#progress-bar{width:100%;background:#e9ecef;border-radius:10px;height:20px;margin-top:10px;overflow:hidden}
#progress-fill{height:100%;background:linear-gradient(90deg,#0d6efd,#6610f2);transition: width 0.2s ease;border-radius:10px}
#progress-text{margin-top:5px;font-size:14px;color:#666}
#all .tablesorter, #all #fill, #all #up {opacity: 0.1}
.hide {display:none}
#ind{margin-bottom:15px}
#ind a{text-decoration:underline!important}
@media (max-width:979px){
h1{margin-left:20px}
nav ul{display:flex;justify-content:center}
nav li[id^=page]{padding:4px 0 4px 2px}
ul.collapsed{display:block;position:absolute;font-size:16px;border:solid #777;border-width:0 1px 1px 0;top:0}
.collapsed li,#navb.collapsed li[id^=page]{border-bottom:1px solid #333;text-align:left;display:inherit}
.collapsed a,ul.collapsed{background-color:#222}
.collapsed a:hover{background-color:#fff}
#nav-toggle:after{position:absolute;margin-top:0;color:#e95;cursor:pointer;font-family:Raul;content:"\f0c9";font-style:normal;font-size:20px}
#nav-toggle.collapsed:after{content:"\f00d";z-index:999}
#nav:not(.collapsed),#navb li[id^=page]{display:none}
#nav li#page2:after{font-family:Raul;content:" \f0da";vertical-align:middle}
#nav li#page2:nth-last-child(-n+3):after{content:""}
#navb{margin-bottom:10px}
#navb li{width:110px}
#nav.collapsed{padding-left:40px;left:0;z-index:8}
#navb.collapsed{left:170px;z-index:9}
#nav2 {flex-wrap:wrap}
#nav2 li a{border-right-width:1px}
}
@media (min-width:980px){
header h1{display:none}
li#page{padding:2px 0 11px}
li#page:after{white-space:pre;font-family:Raul;content:"\A\f0d7"}
li[id^=page]{font-size:18px;height:26.5px}
#nav, #dbd, #navb, #nav2 {display:flex}
#nav, #dbd {justify-content:center}
#nav li:nth-last-child(-n+3) a{background-color:#444}
#nav li:nth-last-child(-n+3) a:hover{background-color:#fff}
#navb{border-top:1px solid #ed0}
#navb li{width:124px}
#navb li#page2 {padding-top:2px}
#crc{margin-left:131px}
#crb{margin-left:191px}
#cro{margin-left:311px}
#cib{margin-left:575px}
}